{% load static %}
<div class="wrapper-header zdt-hc-header" data-zdt-hc-pos="1">
    <header class="container">
        <div class="row">
            <div class="col-xs-4 wrapper-left-menu visible-xs">
                <div class="navbar navbar-default">
                    <div class="navbar-header">
                        <ul class="navigation-list list-inline visible-xs">
                            <li><a href="#" id="collap1" data-parent="#thenav">
                                <span class="icon"><i class="fa fa-reorder"></i></span></a>
                            </li>
                            <li><a href="#" id="collap2" data-parent="#">
                                <span class="icon"><i class="fa fa-search"></i></span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-5 col-md-3 wrapper-logo">
                {% include "partials/brand.html" %}
            </div>
            <div class="col-xs-2 wrapper-right-menu visible-xs">
                <div class="navbar navbar-default">
                    <div class="navbar-header">
                        <ul class="navigation-list list-inline visible-xs">
                            <li>
                                <a href="{% url 'basket:summary' %}">
                                    <span class="icon"><i class="fa fa-shopping-cart"></i></span>
                                    <span class="cartcount" rel="a2c_item_count">{{ request.basket.num_items }}</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-7 col-md-9">
                <div class="row top-assurance-mobbg">
                    <div class="col-xs-12 col-sm-12 col-md-8 wrapper-top-assurance">
                        <div class="wrapper-assurance" data-link="#">
                            <div class="assurance-image">
                                <img src="{% static 'img/71.jpg' %}"
                                     alt="Free Shipping" border="0">
                            </div>
                            <div class="assurance-text">
                                Бесп. доставка<br><span>на все заказы</span>
                            </div>
                        </div>
                        <div class="wrapper-assurance"
                             data-link="">
                            <div class="assurance-image">
                                <img src="{% static 'img/72.jpg' %}"
                                     alt="" border="0">
                            </div>
                            <div class="assurance-text">
                                Бесплатный тест<br><span>на все велосипеды</span>
                            </div>
                        </div>
                        <div class="wrapper-assurance"
                             data-link="">
                            <div class="assurance-image">
                                <img src="{% static 'img/73.jpg' %}"
                                     alt="National Servicing" border="0">
                            </div>
                            <div class="assurance-text">
                                Обслуживание<br><span>на год</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 hidden-xs">
                        <div class="header-search">
                            {% include 'partials/search.html' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>