{% load category_tags %}

<div class="wrapper-nav zdt-hc-header" data-zdt-hc-pos="2">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-menu-mob">
                <div class="navbar navbar-default">
                    <div class="navbar-header hidden-xs">
                        <ul class="navigation-list list-inline visible-xs">
                            <li><a href="/" class="" data-toggle="collapse"
                                   data-target=".navbar-responsive-collapse"><span class="icon"><i
                                    class="fa fa-reorder"></i></span><br>
                                Меню</a></li>
                            <li><a href="/"><span class="icon"><i
                                    class="fa fa-gift"></i></span><br>
                                Товары</a></li>
                            <li>
                                <a href="{% url 'basket:summary' %}">
                                    <span class="icon"><i class="fa fa-shopping-cart"></i></span><br>
                                    Корзина (<span rel="a2c_item_count">{{ request.basket.num_items }}</span>)</a></li>
                            <li><a href="/"><span class="icon"><i
                                    class="fa fa-user"></i></span><br>
                                Профиль</a></li>
                        </ul>
                    </div>
                    <div class="navbar-collapse collapse navbar-responsive-collapse navbar-mob-collapse navbar-responsive-collapse1"
                         id="navbar-responsive-collapse1">
                        <ul class="nav navbar-nav hidden-xs navmain">
                            {% category_tree depth=2 as tree_categories %}
                            {% if tree_categories %}
                                {% for tree_category, info in tree_categories %}
                                    {% if info.has_children %}
                                        <li class="dropdown dropdown-hover menu-246 menu-drop dropdown-toggle">
                                            <a tabindex="-1" href="{{ tree_category.get_absolute_url }}" class="dropdown-toggle">{{ tree_category.name }}<i class="fa fa-caret-down"></i></a>
                                            <div class="dropdown-menu"><div class="dropcateg-list"><ul class="column first-col">
                                        {% else %}
                                            <li class="lv2-li"><a tabindex="-1" href="{{ tree_category.get_absolute_url }}"  class="">{{ tree_category.name }}</a></li>
                                    {% endif %}
                                    {% for close in info.num_to_close %}
                                        </ul></div></div></li>
                                    {% endfor %}
                                {% endfor %}
                            {% endif %}
{#                            <li class="dropdown dropdown-hover menu-246 menu-drop">#}
{#                                <a href="https://www.bicyclesonline.com.au/bikes/" class="dropdown-toggle">#}
{#                                    Bikes<i class="fa fa-caret-down"></i>#}
{#                                </a>#}

{#                                <div class="dropdown-menu">#}
{#                                    <div class="dropcateg-list">#}
{#                                        <ul class="column first-col">#}
{#                                            <li class="lv2-li"><a#}
{#                                                    href="https://www.bicyclesonline.com.au/bikes/road-bikes/">Road#}
{#                                                Bikes</a>#}
{#                                                <ul>#}
{#                                                    <li class="lv3-li"><a#}
{#                                                            href="https://www.bicyclesonline.com.au/bikes/road-bikes/road-race/">Drop#}
{#                                                        Bar Road Bikes</a>#}
{##}
{#                                                    </li>#}
{#                                                    <li class="lv3-li"><a#}
{#                                                            href="https://www.bicyclesonline.com.au/bikes/road-bikes/flatbar-commuter-road-bikes/">Flatbar#}
{#                                                        / Commuter Road Bikes</a>#}
{##}
{#                                                    </li>#}
{#                                                    <li class="lv3-li"><a#}
{#                                                            href="https://www.bicyclesonline.com.au/bikes/road-bikes/road-womens/">Road#}
{#                                                        - Women's</a>#}
{##}
{#                                                    </li>#}
{#                                                    <li class="lv3-li"><a#}
{#                                                            href="https://www.bicyclesonline.com.au/cyclo-cross-gravel-bikes/">Cyclo-Cross#}
{#                                                        &amp; Gravel Bikes</a>#}
{##}
{#                                                    </li>#}
{#                                                    <li class="lv3-li"><a#}
{#                                                            href="https://www.bicyclesonline.com.au/bikes/road-bikes/road-framesets/">Road#}
{#                                                        - Framesets</a>#}
{##}
{#                                                    </li>#}
{#                                                </ul>#}
{#                                            </li>#}
{#                                        </ul>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </li>#}
                        </ul>

                        {% block mini_basket %}{% include "partials/mini_basket.html" %}{% endblock %}

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

