{% load i18n %}

<form class="form-inline" name="productsearch" method="get" action="{% url 'search:search' %}">
    <div class="input-group">
        {{ search_form.q }}
        <span class="input-group-btn">
            <input type="submit" value="Поиск" class="btn btn-info"><i class="fa fa-search"></i>
        </span>
    </div>
</form>