{% extends "layout.html" %}
{% load i18n %}

{% block title %}
    {% trans 'Login or register' %} | {{ block.super }}
{% endblock %}

{% block headertext %}{% trans 'Login or register' %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <form id="login_form" action="{{ request.get_full_path }}" method="post" class="well">
                <h3>{% trans 'Log In' %}</h3>
                <hr>
                {% csrf_token %}
                {% include "partials/form_fields.html" with form=login_form %}
                <p><a href="{% url 'password-reset' %}">{% trans "I've forgotten my password" %}</a></p>
                <button name="login_submit" type="submit" value="Log In"
                        class="btn btn-lg btn-block btn-success"
                        data-loading-text="{% trans "Logging in..." %}">
                    <i class="fa fa-user"></i> {% trans 'Log In' %}</button>
            </form>
        </div>
        <div class="col-xs-12 col-md-6">
            <form id="register_form" action="{{ request.get_full_path }}" method="post" class="well">
                <h3>{% trans 'Register' %}</h3>
                <hr>
                {% csrf_token %}
                {% include "partials/form_fields.html" with form=registration_form %}
                <button name="registration_submit" type="submit" value="Register"
                        class="btn btn-lg btn-block btn-success"
                        data-loading-text="{% trans 'Registering...' %}">
                    <i class="fa fa-plus"></i> {% trans 'Register' %}</button>
            </form>
        </div>
    </div>
{% endblock %}
