{% load reviews_tags %}
{% load thumbnail %}
{% load i18n %}
{% load display_tags %}
{% load staticfiles %}

{% block product %}
    <article class="product_pod">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    {% block product_image %}
                        <div class="col-xs-5 hidden-xs">
                            {% comment %}
                                <div class="nCustom-badge">
                                    <p class="btn" style="background-color:#51CBBC">Новинка</p>
                                </div>
                            {% endcomment %}

                            {% with image=product.primary_image %}
                                {% thumbnail image.original "322" as thumb %}
                                    <a href="{{ product.get_absolute_url }}" class="thumbnail-image">
                                        <img src="{{ thumb.url }}" alt="{{ product.get_title }}"
                                             class="product-image img-responsive" style="height: auto;">
                                    </a>
                                {% endthumbnail %}
                            {% endwith %}

                            <div class="savings-container"></div>
                        </div>
                    {% endblock %}

                    {% block product_feature %}
                        <div class="col-xs-8 col-sm-5 hidden-xs">
                            {% block product_title %}
                                <h3 itemprop="name">
                                    <a href="{{ product.get_absolute_url }}" title="{{ product.get_title }}">
                                        {{ product.get_title }}</a>
                                </h3>
                            {% endblock %}
                            <div class="featurelist hidden-xs">
                                {{ product.short_description|safe }}
                            </div>
                        </div>
                        <div class="col-xs-12 visible-xs">
                            <h3 itemprop="name">
                                <a href="{{ product.get_absolute_url }}" title="{{ product.get_title }}">
                                    {{ product.get_title }}</a>
                            </h3>
                        </div>
                        <div class="col-xs-7 visible-xs">
                            {% comment %}
                                <div class="nCustom-badge">
                                    <p class="btn" style="background-color:#51CBBC">Новинка</p>
                                </div>
                            {% endcomment %}
                            {% with image=product.primary_image %}
                                {% thumbnail image.original "322" as thumb %}
                                    <a href="{{ product.get_absolute_url }}" class="thumbnail-image">
                                        <img src="{{ thumb.url }}" alt="{{ product.get_title }}"
                                             class="product-image img-responsive" style="height: auto;">
                                    </a>
                                {% endthumbnail %}
                            {% endwith %}
                            <div class="savings-container">
                            </div>
                        </div>
                    {% endblock %}

                    {% block product_price %}
                        <div class="col-xs-5 col-md-2 col-md-offset-0">
                            <p class="price" itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
                                {#                                <span class="thumb-rrp">$1,499.00</span>#}
                                <span class="thumb-price" itemprop="price">
                                    {% include "catalogue/partials/stock_record.html" %}
                                </span>
                            </p>
                            {% iffeature "reviews" %}
                                <div class="wrap-thumb-rating {{ product.rating|as_stars }}">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            {% endiffeature %}

                            {% if not product.is_parent %}
                                {% include "catalogue/partials/add_to_basket_form_compact.html" %}
                            {% endif %}
                        </div>
                    {% endblock %}
                </div>
            </div>
        </div>
    </article>
{% endblock %}
