{% extends 'dashboard/layout.html' %}
{% load i18n static %}

{% block extrastyles %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "css/settings.css" %}" />
{% endblock %}

{% block dashboard_content %}
    <section>
        {% if success_save and success_save == 'ok' %}
            <div class="row alert alert-success save-field" role="alert">
                <p align="center">Данные успешно сохранены</p>
            </div>
        {% endif %}
        {% if success_save and success_save == 'error' %}
            <div class="row alert alert-danger save-field" role="alert">
                <p align="center">Ошибка при сохранении</p>

                <p>{{ errors }}</p>
            </div>
        {% endif %}
    </section>
    {% if form.errors %}
        <ul class="errorlist">
    {% endif %}
    {% for field in form.hidden_fields %}
        {% for error in field.errors %}
            <li>{{ field.label }}-{{ error }}</li>
        {% endfor %}
        {{ field }}
    {% endfor %}
    {% if form.errors %}
        </ul>
    {% endif %}
    <br>
    <form method="post">{% csrf_token %}
        <table width="100%">
            <thead>
            <tr>
                <th>
                    <div class="text">{% trans "Name" %}</div>
                </th>
                <th>
                    <div class="text">{% trans "Default" %}</div>
                </th>
                <th>
                    <div class="text">{% trans "Value" %}</div>
                </th>
                <th>
                    <div class="text">{% trans "Is modified" %}</div>
                </th>
            </tr>
            </thead>
            {% for item in settings %}
                <tr class="{% cycle 'row1' 'row2' %}">
                    <th>
                        {{ item.help_text|linebreaksbr }}
                    </th>
                    <td>
                        {{ item.default }}
                    </td>
                    <td>
                        {{ item.form_field.errors }}
                        {{ item.form_field }}
                    </td>
                    <td>
                        {% if item.modified %}
                            <img src="{% static 'img/icon-yes.svg' %}" alt="{{ item.modified }}"/>
                        {% else %}
                            <img src="{% static 'img/icon-no.svg' %}" alt="{{ item.modified }}"/>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
        {% for field in form.hidden_fields %}
            {{ field }}
        {% endfor %}
        <br>
        <input type="submit" value="Сохранить" class="center-block">
    </form>

{% endblock %}

 %}