{% extends "layout.html" %}
{% load i18n %}
{% load promotion_tags %}
{% load category_tags %}

{% block layout %}

    {% include "partials/nav_accounts.html" %}

    {% include 'partials/header_second_line.html' %}

    <div class="checkout-header container">
        {% block checkout_nav %}{% endblock %}
    </div><!-- /header -->

    <div class="container" id="main-content" role="main">
        {% block header %}
            <div class="page-header">
                <h1>{% block checkout_title %}{% endblock %}</h1>
            </div>
        {% endblock %}
        {% include 'partials/alert_messages.html' %}
        <div class="content">
            {% block subheader %}{% endblock subheader %}
            <!-- The main nav on checkout pages contain links to modal flatpages -->
            {% block modal %}
                {% load flatpages %}
                {% get_flatpages '/order/' as flatpages %}
                {% for page in flatpages %}
                    <div id="{{ page.title|slugify }}" class="modal hide fade">
                        <div class="modal-header">
                            <a class="close" data-dismiss="modal">×</a>
                            <h3>{{ page.title }}</h3>
                        </div>
                        <div class="modal-body">
                            <div class="large-content">
                                {{ page.content|safe }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endblock %}

            {# Div exists for AJAX updates to entire content section #}
            <div id="content_inner">{% block content %}{% endblock %}</div>

            <div id="promotions">
                {% for promotion in promotions_page %}
                    {% render_promotion promotion %}
                {% endfor %}
            </div>
        </div><!-- /page_inner -->
    </div>
    {% include "partials/footer.html" %}
{% endblock %}
