{% extends "checkout/checkout.html" %}

{% load currency_filters %}
{% load i18n %}
{% load shipping_tags %}
{% load static %}

{% block title %}
    {% trans "Shipping method" %} | {{ block.super }}
{% endblock %}

{% block checkout_nav %}
    {% include 'checkout/nav.html' with step=1 %}
{% endblock %}

{% block checkout_title %}Выберите способ доставки{% endblock %}

{% block order_contents %}{% endblock %}
{% block shipping_address %}{% endblock %}
{% block payment_method %}{% endblock %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "css/shipping.css" %}"/>
{% endblock %}

{% block shipping_method %}
    <div class="basket-items shipping-method-container">
        <div class="row">
            <div class="col-sm-1">&nbsp;</div>
            {% for method in methods %}
                <div class="col-sm-5">
                    <div class="well well-info">
                        <h3>{{ method.name }}</h3>
                        {% if method.description %}
                            <p>{{ method.description|safe }}</p>
                        {% endif %}

                        {% if method.is_discounted %}
                            <small>
                                {% shipping_charge_discount method basket as discount %}
                                {% blocktrans with amount=discount|currency:basket.currency name=method.discount_name %}
                                    This includes a discount of <strong>{{ amount }}</strong> as
                                    your basket qualifies for the <strong>{{ name }}</strong> offer.
                                {% endblocktrans %}
                            </small>
                        {% endif %}
                        {% shipping_charge method basket as charge %}
                        {% if charge.is_tax_known %}
                            {{ charge.incl_tax|currency:basket.currency }}
                        {% else %}
                            {{ charge.excl_tax|currency:basket.currency }}
                        {% endif %}

                        <div class="row">
                            <form method="post" action="{% url 'checkout:shipping-method' %}">
                                {% csrf_token %}
                                <input type="hidden" name="method_code" value="{{ method.code }}" />
                                <button type="submit" class="btn btn-lg btn-primary center-block" data-loading-text="{% trans 'Submitting...' %}">Выбрать</button>
                            </form>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock shipping_method %}
