{% extends 'dashboard/layout.html' %}
{% load i18n %}

{% block body_class %}{{ block.super }} slider{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a>
        </li>
        <li>
            <a href="{% url 'dashboard:slide-list' %}">Слайды</a>
        </li>
        <li class="active">Удалить слайд?</li>
    </ul>
{% endblock %}

{% block headertext %}
    Удалить слайд?
{% endblock %}

{% block dashboard_content %}
    <div class="table-header">
        <h2>Удаление слайда</h2>
    </div>
    <form action="." method="post" class="well">
        {% csrf_token %}
        {{ form }}
        {% with name=object.title %}
            <p>Удалить слайд <strong>{{ name }}</strong> - вы уверены?</p>
        {% endwith %}
        <div class="form-actions">
            <button type="submit" class="btn btn-danger"
                    data-loading-text="{% trans 'Deleting...' %}">{% trans "Delete" %}</button>
            {% trans "or" %} <a href="{% url 'dashboard:slide-list' %}">{% trans "cancel" %}</a>
        </div>
    </form>
{% endblock %}
