.filter-price-range {
  display: flex;
  margin-left: -2px;
  margin-right: -2px;
  .filter-price-range-control {
    position: relative;
    padding: 0 2px;
    label {
      position: absolute;
      font-weight: normal;
      top: 0;
      left: 0;
      line-height: 34px;
      margin: 0;
      padding-left: 10px;
    }
    input {
      padding-left: 28px;
    }
  }
}

.filter-choices-control {
  ul {
    list-style: none;
    padding: 0 0 0 10px;
    label {
      font-weight: normal;
    }
  }
}

.navbar-inverse .navbar-nav > li.active > span {
  color: #FFFFFF;
}

.bg-vk {
  width: 41px;
  height: 41px;
  display: inline-block;
  text-align: center;
  line-height: 41px;
  color: #fff;
  font-size: 22px;
  border-radius: 50%;
  background: #45668e;
}

.breadcrumb {
  > li {
    &.active {
      > span, a {
        font-weight: 700;
        color: #00a7d1;
      }
    }
  }
}

.wrapper-homeads {
  .homeads-content {
    a {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
