{% extends "layout.html" %}

{% load history_tags %}
{% load currency_filters %}
{% load reviews_tags %}
{% load staticfiles %}
{% load product_tags %}
{% load display_tags %}
{% load i18n %}
{% load purchase_info_tags %}

{% block title %}
    {{ product.title }} | {{ block.super }}
{% endblock %}

{% block description %}
    {{ product.description|default:""|striptags }}
{% endblock %}

{% block breadcrumbs %}
<ul class="breadcrumb">
    <li>
        <a href="{{ homepage_url }}">{% trans "Home" %}</a>
    </li>
    {% with category=product.categories.all.0 %}
        {% for c in category.get_ancestors_and_self %}
        <li>
            <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
        </li>
        {% endfor %}
        <li class="active">{{ product.title }}</li>

        {% get_back_button as backbutton %}
        {% if backbutton %}
            <li class="pull-right">
                <a href="{{ backbutton.url }}">
                    <i class="icon-arrow-left"></i> {{ backbutton.title }}
                </a>
            </li>
        {% endif %}
    {% endwith %}
</ul>
{% endblock %}

{% block header %}
{% endblock header %}

{% block content %}

<article class="product_page"><!-- Start of product page -->

    <div class="row">

        <div class="col-xs-12 col-sm-7 col-md-8">
            <div class="row hidden-xs">
                <div itemscope="" itemtype="http:schema.org/Product" class="wrapper-product-title col-sm-12">
                    <h1 itemprop="name">{{ product.get_title }}</h1>
{#                    <div class="hidden">522</div>#}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    {% block product_gallery %}
                        {% include "catalogue/partials/gallery.html" %}
                    {% endblock %}
                </div>
            </div>
            <div class="row hidden-xs">
                <div class="col-xs-12">
                    <div class="panel-group panel-product" id="accordion" role="tablist"
                         aria-multiselectable="true">
                        <div class="panel panel-default">
                            {% block product_description %}
                                {% if product.description %}
                                    <div class="panel-heading" role="tab" id="headingOne">
                                        <h4 class="panel-title panel-title-mob">
                                            <a data-toggle="collapse" data-parent="#accordion"
                                               href="#collapseOne"
                                               aria-expanded="true" aria-controls="collapseOne">
                                                {% trans "Product Description" %}
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseOne" class="panel-collapse collapsemob collapse in">
                                        <div class="panel-body">
                                            <p>{{ product.description|safe }}</p>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endblock %}
                        </div>
                        <div>
                            {% block product_info %}
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingThree">
                                        <h4 class="panel-title panel-title-mob">
                                            <a data-toggle="collapse" data-parent="#accordion"
                                               href="#collapseThree"
                                               class="collapsed" aria-expanded="true" aria-controls="collapseThree">
                                                {% trans "Product Information" %}
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseThree" class="panel-collapse collapsemob collapse"
                                         style="height: 0px;">
                                        <div class="panel-body">
                                            <table class="table table-striped">
                                                {% if product.upc %}
                                                <tr>
                                                    <th>{% trans "UPC" %}</th><td>{{ product.upc }}</td>
                                                </tr>
                                                {% endif %}
                                                <tr>
                                                    <th>{% trans "Product Type" %}</th><td>{{ product.get_product_class.name }}</td>
                                                </tr>

                                                {% purchase_info_for_product request product as session %}
                                                {% if session.price.exists %}
                                                    <tr>
                                                        <th>{% trans "Price (excl. tax)" %}</th><td>{{ session.price.excl_tax|currency:session.price.currency }}</td>
                                                    </tr>
                                                    {% if session.price.is_tax_known %}
                                                        <tr>
                                                            <th>{% trans "Price (incl. tax)" %}</th><td>{{ session.price.incl_tax|currency:session.price.currency }}</td>
                                                        </tr>
                                                        <tr>
                                                            <th>{% trans "Tax" %}</th><td>{{ session.price.tax|currency:session.price.currency }}</td>
                                                        </tr>
                                                    {% endif %}
                                                    <tr>
                                                        <th>{% trans "Availability" %}</th>
                                                        <td>{{ session.availability.message }}</td>
                                                    </tr>
                                                {% endif %}
                                                {% for av in product.attribute_values.all %}
                                                    <tr>
                                                        <th>{{ av.attribute.name }}</th>
                                                        <td>{{ av.value_as_html }}</td>
                                                    </tr>
                                                {% endfor %}
                                                {% iffeature "reviews" %}
                                                    <tr>
                                                        <th>{% trans "Number of reviews" %}</th>
                                                        <td>{{ product.num_approved_reviews }}</td>
                                                    </tr>
                                                {% endiffeature %}
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            {% endblock %}
                        </div>
                        <div>
                            {% iffeature "reviews" %}
                            {% block product_review %}
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingSeven">
                                        <h4 class="panel-title panel-title-mob">
                                            <a data-toggle="collapse" data-parent="#accordion"
                                               href="#collapseSeven"
                                               class="collapsed" aria-expanded="true" aria-controls="collapseSeven">
                                                {% trans "Customer Reviews" %}
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseSeven" class="panel-collapse collapsemob collapse"
                                         style="height: 0px;">
                                        <div class="panel-body">
                                            {% if product.num_approved_reviews == 0 %}
                                                <p>
                                                    {% if product|is_review_permitted:user %}
                                                        {% url 'catalogue:reviews-add' product_slug=product.slug product_pk=product.id as add_review_url %}
                                                            {% blocktrans %}This product does not have any reviews yet -
                                                            <a href="{{ add_review_url }}#addreview">be the first to write one</a>.
                                                        {% endblocktrans %}
                                                    {% else %}
                                                        {% trans "This product does not have any reviews yet" %}.
                                                    {% endif %}
                                                </p>
                                            {% else %}
                                                <ol class="list-unstyled review-list">
                                                    {% for review in product.reviews.approved.all|slice:":3" %}
                                                        <li>
                                                        {% include 'catalogue/partials/review.html' %}
                                                        </li>
                                                    {% endfor %}
                                                </ol>
                                            {% endif %}
                                            {% if product.num_approved_reviews > 3 %}
                                                <a href="{% url 'catalogue:reviews-list' product_slug=product.slug product_pk=product.id %}" class="btn pull-right">{% trans "See all reviews" %}</a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            {% endblock product_review %}
                            {% endiffeature %}
                         </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-5 col-md-4">
            <div class="col-xs-12 wrapper-prod-right">
                <div class="row">
                    <div class="col-xs-6 col-sm-12">
                        {% if user.is_authenticated and user.is_staff %}
                            <a class="pull-right hidden-xs" href="{% url 'dashboard:catalogue-product' pk=product.id %}"><small><i class="icon-edit"></i> {% trans "Edit this product" %}</small></a>
                        {% endif %}
                        {% block product_stock_record %}
                            <div class="row">
                                <div itemprop="offers" itemscope="" itemtype="http://schema.org/Offer"
                                                 class="wrapper-pricing col-sm-12">
                                    <div class="productprice productpricetext" itemprop="price">
                                        {% include "catalogue/partials/stock_record.html" with verbose=1 %}
                                    </div>
                                </div>
                            </div>
                        {% endblock %}
                        {% iffeature "reviews" %}
                            {% include "catalogue/reviews/partials/review_stars.html" %}
                        {% endiffeature %}
                        <div class="divider-prod">
                            <hr>
                        </div>
                        <div class="freeshipping">
                            <i class="fa fa-truck"></i> Бесплатная доставка (Вологда)
                        </div>
                        {% block product_basket_form %}
                            <div class="col-xs-12 col-md-12 wrap-prodbtn wrapper-buy-interface tipsy">
                                {% include "catalogue/partials/add_to_basket_form.html" %}
                            </div>
                        {% endblock %}
                    </div>
                </div>
            </div>

            {% block product_advice %}
            <div class="col-xs-12 wrapper-prod-right hidden-xs">
                <div class="row">
                    <div class="col-xs-12 needhelpwrap">
                        <h3><i class="fa fa-lightbulb-o"></i> Нужен совет?</h3>
                        <p>Свяжитесь с нами:</p>
                        <ul>
                            <li><a href="callto:{{ config.COMPANY_PHONE }}"><span><i class="fa fa-phone">&nbsp;</i></span>  {{ config.COMPANY_PHONE }}</a></li>
{#                            <li class="chatdesk"><a#}
{#                                    href="https://www.bicyclesonline.com.au/polygon-premier-3.0-27.5-inch-mountain-bike#"#}
{#                                    onclick="ClickDesk_Window_Popout.window_popout();return false;"><span><i#}
{#                                    class="fa fa-comment">&nbsp;</i></span> Live Chat</a></li>#}
{#                            <li class="chatmob"><a#}
{#                                    href="https://my.clickdesk.com/cdMob?id=all_ag9zfmNsaWNrZGVza2NoYXRyDgsSBXVzZXJzGNLz2gIM&amp;widget_type=social_ui_big"#}
{#                                    target="_blank"><span><i class="fa fa-comment">&nbsp;</i></span> Live#}
{#                                Chat</a></li>#}
                            <!--<li><a href="https://www.bicyclesonline.com.au/page/contact-us/"><span><i class="fa fa-map-marker">&nbsp;</i></span> Visit Our Store</a></li>-->
                            <li><a href="#"><span><i
                                    class="fa fa-envelope">&nbsp;</i></span> Напишите нам</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            {% endblock %}

{#                        {% with recommended_products=product.recommended_products.all|slice:":6" %}#}
{#                        {% if recommended_products %}#}
{#                            <div class="sub-header">#}
{#                                <h2>{% trans "Recommended items" %}</h2>#}
{#                            </div>#}
{#                            <ul class="row">#}
{#                                {% for product in recommended_products %}#}
{#                                <li class="col-xs-6 col-sm-4 col-md-3 col-lg-3">#}
{#                                    {% render_product product %}#}
{#                                </li>#}
{#                                {% endfor %}#}
{#                            </ul>#}
{#                        {% endif %}#}
{#                    {% endwith %}#}
{##}
{#                    {% recently_viewed_products current_product=product %}#}


        </div>
    </div><!-- /row -->

</article><!-- End of product page -->
{% endblock content %}

{% block extrascripts %}
    {{ block.super }}
{% endblock %}
